<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation</title>
    <link rel="stylesheet" href="../../sf1/theme_scoped.css" />
    <script src="../../../../bower_components/modernizr/modernizr.js"></script>

    <!--bs for intercom to work in docs-->
</head>
<body class="bg-1">
<div class="scope-it">
<div class="row widthFull">
    <div class="small-12 medium-3 large-2 columns">
        <nav>
            <ul class="side-nav">
                <li class="side-nav-li active">
                    <a id="customers" class="side-nav-link" href="#">
                        <span class="side-nav-icon icon-utility-people"></span>
                        <span class="malb side-nav-link-text">Customers</span>
                    </a>
                </li>
                <li class="side-nav-li">
                    <a id="features" class="side-nav-link" href="#">
                        <span class="side-nav-icon icon-utility-favorite"></span>
                        <span class="malb side-nav-link-text">Features</span>
                    </a>
                </li>
                <li class="side-nav-li">
                    <a id="apps" class="side-nav-link" href="#">
                        <span class="side-nav-icon icon-utility-list"></span>
                        <span class="malb side-nav-link-text">Apps</span>
                    </a>
                </li>
                <li class="side-nav-li">
                    <a id="search" class="side-nav-link" data-ember-action="6">
                        <span class="side-nav-icon icon-utility-search"></span>
                        <span class="malb side-nav-link-text">Search</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="small-12 medium-9 large-10 columns">
        <div class="row">
            <div class="medium-12 columns patc">
                <h4 class="block relative clearfix mtm mbn">
                    <div class="left ptwe dots">
                        <script id="metamorph-788-start" type="text/x-placeholder"></script>Institutional Real Estate  Inc.  (IREI)<script id="metamorph-788-end" type="text/x-placeholder"></script>
                    </div>
                    <a class="malb edit-abs icon-utility-edit left" data-reveal-id="editCustomerModal"></a>
                    <div id="editCustomerModal" class="reveal-modal radius small" data-reveal>
                        <h3>Edit Customer</h3>
                        <div class="row">
                            <div id="customerName">
                                <label>Name
                                    <input type="text" class="radius mabb bordered secondary" value="Verizon" placeholder="What you want to call this customer" />
                                </label>
                            </div>

                        </div>
                        <p class="text-right mbn mtm">
                            <a href="#" class="secondary bordered radius button mbn">Cancel</a>
                            <a href="#" class="primary radius button mbn">Save</a>
                        </p>
                        <a class="close-reveal-modal">&#215;</a>
                    </div>
                </h4>
            </div>
        </div>
        <div class="custom-panel bordered radius mts">
            <div class="panel-top">
                <div class="row">
                    <div class="medium-8 columns">
                        <h5 class="panel-heading">Installed apps</h5>
                        <p class="panel-subheading">
                            App packages installed in an org owned by this customer
                        </p>
                    </div>

                    <div class="medium-4 columns">
                        <div class="input-wrap has-icon-right">
                            <div class="icon-utility-search"></div>
                            <input class="radius secondary man bordered" type="text" placeholder="Search">
                        </div>
                    </div>
                </div>
            </div>
            <table class="widthFull responsive">
                <thead>
                <tr>
                    <th class="tcol-sort"><span class="patb tip-top" data-tooltip="" data-ember-action="94" data-selector="tooltip-hzcrw0afs" title="Tooltip text goes here">Name</span>
                        <script id="metamorph-789-start" type="text/x-placeholder"></script><script id="metamorph-789-end" type="text/x-placeholder"></script>
                    </th>
                    <th class="tcol-sort"><span class="patb tip-top" data-tooltip="" data-ember-action="95" data-selector="tooltip-hzcrw0aft" title="Tooltip text goes here">Deployment</span>
                        <script id="metamorph-790-start" type="text/x-placeholder"></script><script id="metamorph-790-end" type="text/x-placeholder"></script>
                    </th>
                    <th class="tcol-sort"><span class="patb tip-top" data-tooltip="" data-ember-action="96" data-selector="tooltip-hzcrw0afu" title="Tooltip text goes here">Org Id</span>
                        <script id="metamorph-791-start" type="text/x-placeholder"></script><script id="metamorph-791-end" type="text/x-placeholder"></script>
                    </th>
                    <th class="tcol-sort"><span class="patb tip-top" data-tooltip="" data-ember-action="97" data-selector="tooltip-hzcrw0afv" title="Tooltip text goes here">Version</span>
                        <script id="metamorph-792-start" type="text/x-placeholder"></script><script id="metamorph-792-end" type="text/x-placeholder"></script>
                    </th>
                    <th class="tcol-sort"><span class="patb tip-top" data-tooltip="" data-ember-action="98" data-selector="tooltip-hzcrw0afw" title="Tooltip text goes here">Status</span>
                        <script id="metamorph-793-start" type="text/x-placeholder"></script><script id="metamorph-793-end" type="text/x-placeholder"></script>
                    </th>
                    <th class="tcol-sort"><span class="patb tip-top" data-tooltip="" data-ember-action="99" data-selector="tooltip-hzcrw0afx" title="Tooltip text goes here">Edition</span>
                        <script id="metamorph-794-start" type="text/x-placeholder"></script><script id="metamorph-794-end" type="text/x-placeholder"></script>
                    </th>
                    <th class="tcol-sort"><span class="patb tip-top" data-tooltip="" data-ember-action="100" data-selector="tooltip-hzcrw0afy" title="Tooltip text goes here">Instance</span>
                        <script id="metamorph-795-start" type="text/x-placeholder"></script><script id="metamorph-795-end" type="text/x-placeholder"></script>
                    </th>
                    <th class="tcol-sort"><span class="patb tip-top" data-tooltip="" data-ember-action="101" data-selector="tooltip-hzcrw0afz" title="Tooltip text goes here">First Seen</span>
                        <script id="metamorph-796-start" type="text/x-placeholder"></script><script id="metamorph-796-end" type="text/x-placeholder"></script>
                    </th>
                    <th class="tcol-sort"><span class="patb tip-top" data-tooltip="" data-ember-action="102" data-selector="tooltip-hzcrw0af10" title="Tooltip text goes here">Last Seen</span>
                        <script id="metamorph-797-start" type="text/x-placeholder"></script>
                        <div class="sort-control icon-utility-back inline-block down" data-bindattr-103="103"></div>
                        <script id="metamorph-797-end" type="text/x-placeholder"></script>
                    </th>
                </tr>
                </thead>
                <tbody>
                <script id="metamorph-799-start" type="text/x-placeholder"></script><script id="metamorph-798-start" type="text/x-placeholder"></script>
                <tr>
                    <td><a id="ember1306" class="ember-view" href="#/apps/xactlyexpress/organizations/00D30000001HI8n"><script id="metamorph-800-start" type="text/x-placeholder"></script>xactlyexpress<script id="metamorph-800-end" type="text/x-placeholder"></script></a></td>
                    <td><script id="metamorph-801-start" type="text/x-placeholder"></script>Production<script id="metamorph-801-end" type="text/x-placeholder"></script></td>
                    <td><script id="metamorph-802-start" type="text/x-placeholder"></script>00D30000001HI8n<script id="metamorph-802-end" type="text/x-placeholder"></script></td>
                    <td><script id="metamorph-803-start" type="text/x-placeholder"></script>2.175<script id="metamorph-803-end" type="text/x-placeholder"></script></td>
                    <td><script id="metamorph-804-start" type="text/x-placeholder"></script>ACTIVE<script id="metamorph-804-end" type="text/x-placeholder"></script></td>
                    <td><script id="metamorph-805-start" type="text/x-placeholder"></script>Enterprise Edition<script id="metamorph-805-end" type="text/x-placeholder"></script></td>
                    <td><script id="metamorph-806-start" type="text/x-placeholder"></script>NA13<script id="metamorph-806-end" type="text/x-placeholder"></script></td>
                    <td><script id="metamorph-807-start" type="text/x-placeholder"></script>Aug 4, 2014<script id="metamorph-807-end" type="text/x-placeholder"></script></td>
                    <td><script id="metamorph-808-start" type="text/x-placeholder"></script>Aug 22, 2014<script id="metamorph-808-end" type="text/x-placeholder"></script></td>
                </tr>
                <script id="metamorph-798-end" type="text/x-placeholder"></script><script id="metamorph-799-end" type="text/x-placeholder"></script>
                </tbody>
            </table>
        </div>
    </div>

</div>
</div>

<script src="../../../../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../../../../bower_components/foundation/js/foundation.min.js"></script>
<script src="../../../../js/app.js"></script>
<script src="../../../../js/select2.js"></script>
<script src="../../../../bower_components/foundation/js/foundation/foundation.joyride.js"></script>
<script src="../../../../bower_components/foundation/js/foundation/foundation.orbit.js"></script>
<script src="../../../../bower_components/foundation/js/foundation/respson"></script>
<script src="../../../../js/datatables.js"></script>
<script type="text/javascript">
    $(document).foundation();
</script>
<script>

</script>
</body>
</html>
