/*Fonts*/
@import "../fonts/proximanovasoft/font_proximanovasoft";
@import "../fonts/oneIcon/font_oneicon";

/*Reformatting base variables*/
$base-font-size: 16px;
$body-font-family: "ProximaNovaSoft","Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$global-radius: .25rem;

/*Theme Colors are mostly here*/
$body-font-color: #2a4158;
$primary-color: #2a94d6;
$secondary-color: #fff;
$alert-color: #c06057;
$success-color: #43b66a;
$warning-color: #e6b739;
$info-color: #65cae4;

$primary-color-darker: #137cbd;

$component-font-color: #3c3d3e;
$component-bg-color: #fff;
$component-bg-color-hover: #f5f6f7;
$component-border-color: #dadee2;
$component-dark-bg-color: #2a4158;
$component-dark-font-color: #fff;
$component-sub-bg-color: #f0f1f2;
$component-sub-font-color: #66788a;

$input-bg-color: #fff;
$input-box-shadow: none;
$input-border-color: $component-border-color;
$input-focus-bg-color: $component-bg-color-hover;
$input-focus-border-color: $component-border-color;
$input-include-glowing-effect: false;
$input-sub-bg-color: #e8eaeb;
$input-sub-focus-bg-color: #fff;
$input-placeholder-color: #686c70;

$switch-bg: $component-sub-bg-color;
$switch-active-color: $primary-color;
$switch-height-tny: 1.5rem;
$switch-height-sml: 2rem;
$switch-height-med: 2.5rem;
$switch-height-lrg: 3.5rem;

$tooltip-bg: #344a5f;
$tooltip-close-font-color: #fff;

@mixin border {
  border-width: 1px;
  border-style: solid;
}

/*Reformatting topbar variables*/
// Background color for the top bar
$topbar-bg-color: $component-dark-bg-color;
$topbar-bg: $topbar-bg-color;

// Height and margin
$topbar-height: 56px;
$topbar-margin-bottom: 0;

// Controlling the styles for the title in the top bar
$topbar-title-weight: 300;
$topbar-title-font-size: 1.375rem;

// Style the top bar dropdown elements
$topbar-dropdown-bg: $component-bg-color;
$topbar-dropdown-link-color: $component-font-color;
$topbar-dropdown-link-bg: $component-bg-color;
$topbar-dropdown-link-weight: 300;
$topbar-dropdown-toggle-size: 5px;
$topbar-dropdown-toggle-color: $component-dark-font-color;
$topbar-dropdown-toggle-alpha: 0.4;

// Set the link colors and styles for top-level nav
$topbar-link-color: $component-dark-font-color;
$topbar-link-color-hover: $component-dark-font-color;
$topbar-link-color-active: $component-dark-font-color;
$topbar-link-color-active-hover: $component-dark-font-color;
$topbar-link-weight: 300;
$topbar-link-font-size: rem-calc(13);
$topbar-link-hover-lightness: -10%; // Darken by 10%
$topbar-link-bg: $topbar-bg;
$topbar-link-bg-color-hover: $topbar-bg-color;
$topbar-link-bg-hover: $topbar-bg-color;
$topbar-link-bg-active: $primary-color;
$topbar-link-bg-active-hover: scale-color($primary-color, $lightness: -14%);
$topbar-link-font-family: $body-font-family;
$topbar-link-text-transform: none;
$topbar-link-padding: $topbar-height / 3;

$topbar-button-font-size: 0.75rem;
$topbar-button-top: 7px;

$topbar-dropdown-label-color: $component-font-color;
$topbar-dropdown-label-text-transform: uppercase;
$topbar-dropdown-label-font-weight: 300;
$topbar-dropdown-label-font-size: rem-calc(8);
$topbar-dropdown-label-bg: $component-sub-bg-color;

// Top menu icon styles
$topbar-menu-link-transform: uppercase;
$topbar-menu-link-font-size: rem-calc(12);
$topbar-menu-link-weight: 300;
$topbar-menu-link-color: $component-dark-font-color;
$topbar-menu-icon-color: $component-dark-font-color;
$topbar-menu-link-color-toggled: darken($component-dark-font-color, 10%);
$topbar-menu-icon-color-toggled: darken($component-dark-font-color, 10%);

/*Foundation*/
@import "../bower_components/foundation/scss/foundation";

/*General styles*/
body {
  background-color: #f5f6f7;
}

h1,h2,h3,h4,h5 {
  color: $body-font-color;
  @media only screen and (min-width: 40.063em) {
  }
}

h1, h1.subheader{
  font-size: 3.0000rem; /* 48px */
  line-height: 1.0000em; /* 48px */
  margin-bottom: 0.2500em;  margin-top: 0.2500em;
  @media only screen and (min-width: 40.063em) {
    font-size: 3.0000rem; /* 48px */
    line-height: 1.0000em; /* 48px */
    margin-bottom: 0.2500em;  margin-top: 0.2500em;
  }
}
h2, h2.subheader {
  font-size: 2.5000rem; /* 40px */
  line-height: 1.2000em; /* 48px */
  margin-bottom: 0.3000em;  margin-top: 0.3000em;
  @media only screen and (min-width: 40.063em) {
    font-size: 2.5000rem; /* 40px */
    line-height: 1.2000em; /* 48px */
    margin-bottom: 0.3000em;  margin-top: 0.3000em;
  }
}
h3, h3.subheader{
  font-size: 2.0000rem; /* 32px */
  line-height: 1.5000em; /* 48px */
  margin-bottom: 0.7500em;  margin-top: 0.0000em;
  @media only screen and (min-width: 40.063em) {
    font-size: 2.0000rem; /* 32px */
    line-height: 1.5000em; /* 48px */
    margin-bottom: 0.3750em;  margin-top: 0.3750em;
  }
}
h4, h4.subheader {
  font-size: 1.5000rem; /* 24px */
  line-height: 1.0000em; /* 24px */
  margin-bottom: .5000em;  margin-top: 0.5000em;
  @media only screen and (min-width: 40.063em) {
    font-size: 1.5000rem; /* 24px */
    line-height: 1.0000em; /* 24px */
    margin-bottom: .5000em;  margin-top: 0.5000em;
  }
}
h5, h5.subheader {
  font-size: 1.0000rem; /* 16px */
  line-height: 1.5000em; /* 24px */
  margin-bottom: .7500em;  margin-top: 0.7500em;
  @media only screen and (min-width: 40.063em) {
    ffont-size: 1.0000rem; /* 16px */
    line-height: 1.5000em; /* 24px */
    margin-bottom: .7500em;  margin-top: 0.7500em;
  }
}
h6, h6.subheader {
  font-size: 0.8750rem; /* 14px */
  line-height: 1.7143em; /* 24px */
  margin-bottom: .85715em;  margin-top: .85715em;
  @media only screen and (min-width: 40.063em) {
    font-size: 0.8750rem; /* 14px */
    line-height: 1.7143em; /* 24px */
    margin-bottom: .85715em;  margin-top: .85715em;
  }
}

p {
  font-size: 1.0000rem; /* 16px */
  line-height: 1.5000em; /* 24px */
  margin-bottom: 1.5000em;  margin-top: 0.0000em;
  > * {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

/**************From this point on in alphabetical order**************/

/*Accordions*/
.accordion, .accordion .accordion-navigation {
  dd > .content, > .content {
    padding: 1rem;
    border-bottom: 1px solid $component-sub-bg-color;
  }
  > dd {
    &:last-child {
      .content {
        border-bottom: 0px;
      }
    }
    > a {
      background-color: $component-bg-color;
      padding: 1rem;
      border-bottom: 1px solid $component-sub-bg-color;
    }
    &:last-child {
      > a {
        border-bottom: 0px;
      }
    }
    &.active {
      > a {
        background-color: $component-bg-color;
        border-bottom: 0px;
      }
    }
    &:hover {
      > a {
        background-color: $component-bg-color;
      }
    }
  }
  &.bordered {
    dd > .content, > .content {
      padding: 1rem;
    }
    > dd {
      @include border;
      border-color: $component-border-color;
      border-top-width: 0px;
      > a {
        background-color: $component-bg-color;
        border-bottom-width: 1px;
        padding: 1rem;
      }
      &.active {
        > a {
          background-color: $component-bg-color;
        }
      }
      &:first-child {
        border-top-width: 1px;
      }
      &:hover {
        > a {
          background-color: $component-bg-color-hover;
        }
      }
    }
  }
}

/*Alerts*/
.alert-box {
  background-color: $component-sub-bg-color;
  border: 0px;
  box-shadow: 0 1px 0 $component-border-color;
  padding: .75rem 1rem;
  font-size: 1rem;
  color: $component-font-color;
  margin-bottom: 1rem;
  &.success, &.alert, &.info {
    background-color: $component-sub-bg-color;
    border-color: $component-border-color;
    color: $component-font-color;
  }
  &.secondary {
    border-color: $component-border-color;
    color: $component-font-color;
    background: $component-bg-color;
  }
  .close {
    right: 1rem;
    font-size: 2rem;
    margin-top: -.5rem;
  }
  &:before {
    font-family: "icon-utility";
    line-height: 1;
    position: relative;
    top: (1rem/8);
  }
  &.alert {
    &:before {
      content: "\e024";
      color: $alert-color;
      margin-right: .5rem;
    }
  }
  &.success {
    &:before {
      content: "\e02a";
      color: $success-color;
      margin-right: .5rem;
    }
  }
  &.info {
    &:before {
      content: "\e02d";
      color: $info-color;
      margin-right: .5rem;
    }
  }
}

/*Breadcrumbs*/
.breadcrumbs {
  border: 0px;
  background-color: $component-bg-color;
  padding: .6rem 1rem;
  > * {
    font-size: .75rem;
  }
  &.bordered {
    border-color: $component-border-color;
    border-width: 1px;
    border-style: solid;
  }
}

/*Buttons*/
.button, button {
  @include button(
  );
  padding: .65rem 1rem;
  margin: 0 0 1rem;
  font-size: 1rem;
  &.tiny {
    padding: .3rem .5rem ;
    font-size: .75rem;
  }
  &.small {
    padding: .5rem .75rem;
    font-size: .875rem;
  }
  &.large {
    padding: 1rem 1.5rem;
    font-size: 1.25rem;
  }
  &.secondary {
    border-color: $component-border-color;
    &:hover {
      background-color: $component-bg-color-hover;
    }
  }
  /*&.secondary {
    padding-top: .6rem;
    padding-bottom: .6rem;
    @include border;
    border-color: $component-border-color;
    &:hover {
      background-color: $component-bg-color-hover;
    }
    &.tiny {
      padding-top: .25rem ;
      padding-bottom: .25rem ;
    }
    &.small {
      padding-top: .45rem;
      padding-bottom: .45rem;
    }
    &.large {
      padding-top: .95rem;
      padding-bottom: .95rem;
    }
  }*/
  &.bordered {
    padding-top: .6rem;
    padding-bottom: .6rem;
    @include border;
    &.tiny {
      padding-top: .25rem ;
      padding-bottom: .25rem ;
    }
    &.small {
      padding-top: .45rem;
      padding-bottom: .45rem;
    }
    &.large {
      padding-top: .95rem;
      padding-bottom: .95rem;
    }
  }
  &.dropdown {
    padding-right: 2.5rem;
    &:after {
      right: 1rem;
    }
    &.tiny {
      &:after {
        border-width: 0.375rem;
      }
    }
    &.small {
      &:after {
        border-width: 0.375rem;
      }
    }
    &.large {
      padding-right: 4.25rem;
      &:after {
        border-width: 0.5rem;
      }
    }
  }
  &.split {
    padding-right: 4.1rem;
    > span {
      border-left-color: $button-border-color;
    }
    > span {
      &:after {
        top: 44%;
      }
    }
    &.secondary {
      > span {
        border-left-color: $component-border-color;
      }
    }
    &.success {
      > span {
        border-left-color: $success-button-border-color;
      }
    }
    &.alert {
      > span {
        border-left-color: $alert-button-border-color;
      }
    }
    &:hover {
      > span {
        border-left-color: darken($button-border-color, 10%);
      }
      &.secondary {
        > span {
          border-left-color: darken($component-border-color, 10%);
        }
      }
      &.success {
        > span {
          border-left-color: darken($success-button-border-color, 10%);
        }
      }
      &.alert {
        > span {
          border-left-color: darken($alert-button-border-color, 10%);
        }
      }
    }
    &.tiny {
      padding-right: 2.75rem;
      span {
        &:after {
          border-width: 0.375rem;
          margin-left: -0.375rem;
          top: 40%;
        }
      }
    }
    &.small {
      padding-right: 3.375rem;
      span {
        &:after {
          border-width: 0.375rem;
          margin-left: -0.375rem;
          top: 40%;
        }
      }
    }
    &.large {
      padding-right: 5rem;
      span {
        &:after {
          border-width: .5rem;
          margin-left: -0.5rem;
        }
      }
    }
  }
}

.button-group, .button-group.radius, .button-group.round {
  > li {
    .button, button {
      border-width: 0px;
      border-left-width: 0px;
    }
  }
}

.button-group.bordered, .button-group.radius.bordered, .button-group.round.bordered {
  > li {
    .button, button {
      @include border;
      border-left-width: 0px;
      border-color: $button-border-color;
      padding-top: .6rem;
      padding-bottom: .6rem;
      &.tiny {
        padding-top: .25rem ;
        padding-bottom: .25rem ;
      }
      &.small {
        padding-top: .45rem;
        padding-bottom: .45rem;
      }
      &.large {
        padding-top: .95rem;
        padding-bottom: .95rem;
      }
      &.secondary {
        border-color: $component-border-color;
      }
      &.success {
        border-color: $success-button-border-color;
      }
      &.alert {
        border-color: $alert-button-border-color;
      }
    }
    &:first-child {
      .button, button {
        border-left-width: 1px;
        border-style: solid;
      }
    }
  }
}

/*Definitions*/
dl {
  dt {
    font-weight: 900;
  }
  dd {
    font-weight: lighter;
  }
}

/*Fieldsets*/
fieldset {
  border: 0px;
  background-color: $component-bg-color;
  &.bordered {
    border-width: 1px;
    border-style: solid;
    border-color: $component-border-color;
  }
  legend {
    float: left;
    margin-bottom: 1rem;
    font-size: 1.25rem;
  }
}

/*Horizontal rule*/
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: solid $component-border-color;
  border-width: 1px 0 0;
}

/*Inputs*/
input[type="text"],
input[type="password"],
input[type="date"], input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  &.borderless {
    border-width: 0px;
  }
  &.secondary {
    background-color: $input-sub-bg-color;
    &:focus {
      background-color: $input-sub-focus-bg-color;
    }
  }
  height: 2.5rem;
  padding: .5rem 1rem;
  &:-moz-placeholder {
    color: $input-placeholder-color;
  }
  &::-moz-placeholder {
    color: $input-placeholder-color;
  }
  &:-ms-input-placeholder {
    color: $input-placeholder-color;
  }
  &::-webkit-input-placeholder {
    color: $input-placeholder-color;
  }
}
textarea {
  height: auto;
  min-height: 5rem;
}

/*Joyride*/
.joyride-tip-guide {
  background: $tooltip-bg;
  .joyride-nub {
    &.top, &.bottom, &.left, &.right {
      border-color: $tooltip-bg;
    }
  }
}

.joyride-close-tip, .joyride-close-tip:hover {
  color: #fff!important;
}

/*Keystroke*/
.keystroke, kbd {
  padding: .4rem .5rem;
  background-color: $component-sub-bg-color;
  border-color: $component-border-color;
  font-size: .875rem;

}

/*Labels*/
label {
  font-weight: lighter;
}
.label {
  padding: .4rem .5rem;
  background-color: $primary-color-darker;
  &.bordered {
    @include border;
    padding: .35rem .5rem;
    border-color: $button-border-color;
    &.secondary {
      border-color: $component-border-color;
    }
    &.success {
      border-color: $success-button-border-color;
    }
    &.alert {
      border-color: $alert-button-border-color;
    }
  }
}

/*Lists*/
ul, ol, dl {
  line-height: $base-line-height;
}

/*Magellan*/
[data-magellan-expedition]{
  left: 0;
}

/*Pagination*/
ul.pagination {
  li.current, li {
    a {
      padding: 0 .585rem;
    }
  }
}

/*Panels*/
.panel, p.panel {
  &.callout {
    padding: 1rem;
    h1, h2, h3, h4, h5, h6 {
      padding:0 1rem 1rem 1rem;
      margin-bottom: 1rem;
      border-bottom: $component-sub-bg-color 1px solid;
      color: $body-font-color;
    }
  }
  padding: 1rem;
  background: $component-bg-color;
  border: 0px;
  h1, h2, h3, h4, h5, h6 {
    padding:0 1rem 1rem 1rem;
    margin: 0 -1rem 1rem -1rem;
    border-bottom: $component-sub-bg-color 1px solid;
    font-size: 24px;
    color: $body-font-color;
  }
  p {
    padding: 0;
    font-size: .875rem;
    color:$component-sub-font-color;
    font-weight: 300;
  }
  &.bordered {
    border-color: $component-border-color;
    border-width: 1px solid;
  }
}

/*Postfix*/
span.postfix {
  background-color: $component-bg-color;
  color: $component-font-color;
  border-color: $component-border-color;
  height: 2.5rem;
}

/*Pricing*/
.pricing-table {
  border-width: 0px;
  border-color: $component-border-color;
  margin-bottom: 1rem;
  &.bordered {
    border-width: 1px;
  }
  .title {
    background-color: $component-bg-color;
    color: $component-font-color;
    padding: 1rem;
  }
  .price {
    background-color: $component-bg-color-hover;
    color: $component-font-color;
    border-top: 1px solid $component-sub-bg-color;
    border-bottom: 1px solid $component-sub-bg-color;
  }
  .description, .bullet-item {
    border-bottom-style: solid;
    border-bottom-color: $component-sub-bg-color;
    color: $component-sub-font-color;
  }
  .bullet-item {
    font-size: 1rem;
    padding: 1rem 1rem .935rem 1rem;
  }
  .description {
    font-size: .75rem;
    padding: 1rem 1rem .935rem 1rem;
  }
  .cta-button {
    padding: 1rem 1rem 1.1rem 1rem;
    button, .button {
      margin-bottom: 0;
    }
  }
}

/*Progress*/
.progress {
  height: 1rem;
  padding: .1875rem;
  background-color: $component-bg-color;
  border-color: $component-border-color;
  &.secondary {
    .meter {
      background-color: $component-sub-bg-color;
    }
  }
}

/*Range*/
.range-slider {
  height: 1rem;
  padding: .1875rem;
  background-color: $component-bg-color;
  border-color: $component-border-color;
  .range-slider-active-segment {
    background: $primary-color;
    left: 0;
    top: 0;
    border: 2px solid #fff;
  }
  &.radius {
    .range-slider-active-segment {
      @include radius($global-radius);
    }
  }
  &.round {
    .range-slider-active-segment {
      @include radius(1000px);
    }
  }
}

.range-slider, .range-slider.radius, .range-slider.round {
  .range-slider-handle, .range-slider-handle.radius, .range-slider-handle.round {
    background-color: $component-bg-color;
    border-color: $component-border-color;
    @include border;
    top: -.25rem;
    &:hover {
      background-color: $component-bg-color-hover;
    }
  }
}

/*Reveal*/
.reveal-modal {
  box-shadow: none;
  -webkit-box-shadow: none;
  border-width: 0px;
}

.reveal-modal-bg, .joyride-modal-bg {
  background-color: rgba(52, 74, 95, 0.7);
}

/*Selects*/
select {
  height: 2.5rem;
  background-color: $component-bg-color;
  border-color: $component-border-color;
}

/*Side Nav*/
.side-nav {
  li {
    margin: 0;
    &.divider {
      border-top-color: $component-sub-bg-color;
      margin: 0;
    }
  }
}

/*Subheader*/
.subheader {
  margin-top: inherit;
  margin-bottom: inherit;
  line-height: inherit;
  color: $component-sub-font-color;
  font-weight: lighter;
}

/*Tabs*/
.tabs {
  dd {
    > a {
      background-color: $component-sub-bg-color;
      &:hover {
        background-color: $component-bg-color-hover;
      }
    }
    &.active {
      > a, > a:hover {
        background-color: $component-bg-color;
      }
    }
  }
  &.vertical {
    dd {
      > a {
        padding: 1rem;
      }
    }
  }
  &.bordered {
    background-color: $component-sub-bg-color;
    box-shadow: inset 0 -1px 0 $component-border-color;
    dd {
      > a {
        @include border;
        border-left-width: 0px;
        border-right-width: 0px;
        border-top-width: 0px;
        border-color: $component-border-color;
        background-color: $component-sub-bg-color;
        &:hover {
          background-color: $component-bg-color-hover;
        }
      }
      &.active {
        > a {
          background-color: $component-bg-color;
          @include border;
          border-bottom-width: 0px;
        }
      }
    }
    &.vertical {
      @include border;
      border-color: $component-border-color;
      dd {
        > a {
          border: 0px;
        }
      }
    }
  }
}

/*Tables*/

table {
  border-collapse: collapse;
  border-width: 0px;
  border-color: $component-border-color;
  background: $component-bg-color;
  &.bordered {
    border-width: 1px;
    thead {
      th {
        border-bottom-color: $component-border-color;
      }
    }
  }
  thead {
    background: transparent;
    th {
      border-bottom: 1px solid $component-bg-color-hover;
    }
  }
  tr td, thead tr th {
    padding: .44rem 1rem;
  }
  thead tr th {
    color: $component-font-color;
    font-size: 1rem;
    line-height: 1.5em;
  }
  tr.even, tr.alt, tr:nth-of-type(even) {
    background: transparent;
  }
  tr td {
    font-weight: lighter;
    color: $component-sub-font-color;
    font-size: .875rem;
    border-bottom: 1px solid $component-bg-color-hover;
    line-height: 1.7143em;
  }
}

/*Thumbnails*/
.th {
  box-shadow: 0 0 0 1px $component-border-color;
  -webkit-box-shadow: 0 0 0 1px $component-border-color;
  @include radius(.25rem);
}

/*Topbar*/

.top-bar-section {
  .divider {
    border-top: solid 1px $component-sub-bg-color;
  }
  .dropdown {
    border-bottom: 1px solid $component-border-color;
    li {
      &:not(.has-form){
        &:hover {
          > a {
            &:not(.button){
              background: $component-bg-color-hover;
              background-color: $component-bg-color-hover;
              color: $body-font-color;
            }
          }
        }
      }
      label {
        padding: .5rem 1rem;
      }
    }
  }
}

/*Vcard*/
.vcard {
  background-color: $component-bg-color;
  border: 0px;
  &.bordered {
    border-width: 1px;
    border-color: $component-border-color;
  }
}

/*End alphabetical order*/

/*Adding in helpers & custom styles*/
@import "../scss/helpers/helpers";
@import "../scss/helpers/custom";

/*Importind docs styles*/
@import "docs";