<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation</title>
    <link rel="stylesheet" href="../stylesheets/style.css" />
    <script src="bower_components/modernizr/modernizr.js"></script>
</head>
<body>

<div class="off-canvas-page toggle-offcanvas">
    <div class="off-canvas-wrap" data-offcanvas>
        <div class="inner-wrap">
            <nav class="tab-bar">
                <section class="left-small">
                    <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
                </section>

                <section class="middle tab-bar-section">
                    <h1 class="title">Foundation</h1>
                </section>

                <section class="right-small">
                    <a class="right-off-canvas-toggle menu-icon" href="#"><span></span></a>
                </section>
            </nav>

            <aside class="left-off-canvas-menu">
                <ul class="off-canvas-list">
                    <li><label>Foundation</label></li>
                    <li><a href="#">The Psychohistorians</a></li>
                    <li><a href="#">...</a></li>

                </ul>
            </aside>

            <aside class="right-off-canvas-menu">
                <ul class="off-canvas-list">
                    <li><label>Users</label></li>
                    <li><a href="#">Hari Seldon</a></li>
                    <li><a href="#">...</a></li>
                </ul>
            </aside>

            <section class="main-section">
                <!-- content goes here -->
                <div class="row">
                    <div class="small-12 columns">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet nisi a nisi vulputate ultrices. Aenean cursus sollicitudin tincidunt. Praesent in urna nibh. Curabitur lacinia eros rhoncus, accumsan orci sed, auctor augue. Proin dapibus rutrum iaculis. Donec sit amet fringilla metus. Nam lobortis lacus ac porttitor semper. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed et commodo eros. Aliquam nec diam eu tortor tempus fringilla. Aenean pharetra justo quis dui bibendum, a dapibus massa pretium. Morbi at elementum ligula. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc euismod nisi condimentum, sagittis libero sed, vulputate neque. Donec nulla dolor, gravida eu laoreet in, euismod vel ipsum. Phasellus quam urna, porta et congue et, sodales id ipsum.

                            Fusce euismod, massa at varius sodales, lacus augue posuere augue, iaculis tincidunt nunc justo ac enim. Ut facilisis sapien a venenatis fermentum. Integer gravida mattis tristique. Maecenas eu lectus eu erat porttitor faucibus. Sed sagittis, orci gravida pharetra posuere, diam turpis ultrices ligula, non dapibus mi sem a orci. Sed quis consequat turpis, quis luctus odio. Sed mollis quis justo elementum ullamcorper. Sed erat erat, posuere a ullamcorper lacinia, posuere vitae velit. Morbi et purus vel dolor adipiscing dignissim quis sit amet turpis. Donec convallis pretium arcu, nec tincidunt mauris volutpat eget. Morbi a consequat velit, at semper risus. Donec malesuada at nulla ut adipiscing.

                            Aenean tempus dolor sed velit semper ultrices. Vivamus quis dui odio. Fusce vitae ligula mauris. Cras gravida est ac odio ultrices tincidunt. Maecenas ac congue metus, a bibendum justo. Suspendisse potenti. Aenean imperdiet tincidunt est, vitae gravida eros lacinia id. Nulla placerat risus a condimentum hendrerit. Mauris a urna gravida justo placerat hendrerit fringilla vitae libero.

                            Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse id porttitor dolor. Integer bibendum malesuada lacus, et lobortis libero posuere placerat. Integer ullamcorper tempor lorem sit amet sagittis. In hac habitasse platea dictumst. Nunc nec mauris massa. Nunc vulputate semper sem eu tempus. Morbi eget mi sed mi suscipit laoreet nec in leo.

                            Curabitur tincidunt auctor velit, et pharetra ante faucibus sit amet. Nullam feugiat fermentum justo, vitae consequat justo hendrerit sed. Vestibulum aliquet aliquam viverra. Integer ut vehicula est. In venenatis turpis hendrerit metus ornare congue. Mauris sagittis dolor id tortor rutrum, non blandit ligula vehicula. In eget posuere odio, a tincidunt nisl. Maecenas quis sem condimentum, pretium quam vitae, tempor nulla.
                        </p>
                    </div>
                </div>
            </section>

            <a class="exit-off-canvas"></a>

        </div>
    </div>
</div>

<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../bower_components/foundation/js/foundation.min.js"></script>
<script src="../js/app.js"></script>
</body>
</html>
