<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation</title>
    <link rel="stylesheet" href="../stylesheets/style.css" />
    <script src="../bower_components/modernizr/modernizr.js"></script>
</head>
<body>

<section id="marquee" class="large dark marquee" <!--style="background-image: url('../assets/img/examples/2.jpg')"-->>
    <div class="row">
        <div class="small-12 columns text-center">
            <header class="marquee-header">
                <h1 class="marquee-heading">Marquee Heading</h1>
                <h4 class="marquee-subheading">This is the marquee subheading.</h4>
            </header>
            <footer class="marquee-footer">
                <p class="marquee-blurb">
                    Here's where you say a blurb thing.
                </p>
                <a class="large ghost button with radius" href="#" class="responsive-gallery-button">Call to action</a>
            </footer>
        </div>
    </div>

</section>
<section>
    <div class="row">
        <div class="small-12 columns path pabh">
            <ul class="medium-block-grid-3">
                <li class="text-center">
                    <img class="mabh math" src="http://placehold.it/64x64">
                    <dl>
                        <dt>Definition Title</dt>
                        <dd>Definition Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam id dolor id nibh ultricies vehicula ut id elit.</dd>
                    </dl>
                </li>
                <li class="text-center">
                    <img class="mabh math" src="http://placehold.it/64x64">
                    <dl>
                        <dt>Definition Title</dt>
                        <dd>Definition Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam id dolor id nibh ultricies vehicula ut id elit.</dd>
                    </dl>
                </li>
                <li class="text-center">
                    <img class="mabh math" src="http://placehold.it/64x64">
                    <dl>
                        <dt>Definition Title</dt>
                        <dd>Definition Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam id dolor id nibh ultricies vehicula ut id elit.</dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
</section>

<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../bower_components/foundation/js/foundation.min.js"></script>
<script type="text/javascript" src="../js/slick-scripts.js"></script>
<script src="../js/app.js"></script>


</body>
</html>
