$appiphony-blue:    #3c6da2;
$appiphony-red:     #c97658;
$appiphony-gold:    #f0c163;

$bg-primary:        $primary-color;      .bg-primary   {background-color:$bg-primary}
$bg-blue:           $appiphony-blue;     .bg-blue      {background-color:$bg-blue}
$bg-red:            $appiphony-red;      .bg-red       {background-color:$bg-red}
$bg-gold:           $appiphony-gold;     .bg-gold      {background-color:$bg-gold}

$bg-1:              #fff;                .bg-1         {background-color:$bg-1}
$bg-2:              #f3f3f3;             .bg-2         {background-color:$bg-2}
$bg-3:              #d1d2d3;             .bg-3         {background-color:$bg-3}
$bg-4:              #fff;                .bg-1         {background-color:$bg-1}
$bg-5:              #fff;                .bg-1         {background-color:$bg-1}