.button {
  &.default {
    background-color: #fff;
    border-width: 1px;
    border-color: $secondary-color;
    color: $body-font-color;
    padding-top: 0.59375rem;
    padding-right: 1.1875rem;
    padding-bottom: 0.65625rem;
    padding-left: 1.1875rem;
    &.tiny {
      padding-top: 0.21875rem;
      padding-right: 0.4375rem;
      padding-bottom: 0.28125rem;
      padding-left: 0.4375rem;
    }
    &.small {
      padding-top: 0.46875rem;
      padding-right: 0.9375rem;
      padding-bottom: 0.53125rem;
      padding-left: 0.9375rem;
    }
    &.large {
      padding-top: 0.65625rem;
      padding-right: 1.3125rem;
      padding-bottom: 0.71875rem;
      padding-left: 1.3125rem;
    }
    &:hover {
      background-color: $secondary-color;
    }
    &.dropdown {
      padding-right: 3.5625rem;
      &:after {
        border-color: $body-font-color transparent transparent transparent;
      }
    }
  }
  &.ghost {
    background-color: transparent;
    border-width: 1px;
    border-color: #fff;
    color: #fff;
    font-weight: lighter;
    @include letter-spacing;
    &:hover {
      background-color: rgba(255,255,255,.2);
    }
    &.dark {
      border-color: $body-font-color;
      color: $body-font-color;
      &:hover {
        background-color: rgba(60, 61, 62, 0.1);
      }
    }
    padding-top: 0.59375rem;
    padding-right: 1.1875rem;
    padding-bottom: 0.65625rem;
    padding-left: 1.1875rem;
    &.tiny {
      padding-top: 0.21875rem;
      padding-right: 0.4375rem;
      padding-bottom: 0.28125rem;
      padding-left: 0.4375rem;
    }
    &.small {
      padding-top: 0.46875rem;
      padding-right: 0.9375rem;
      padding-bottom: 0.53125rem;
      padding-left: 0.9375rem;
    }
    &.large {
      padding-top: 0.65625rem;
      padding-right: 1.3125rem;
      padding-bottom: 0.71875rem;
      padding-left: 1.3125rem;
    }
  }
}