.alert-box {
  @include alert(
    // Adjust the background of the alert
  $bg: #fff
    // Give a border to the alert box

  );
  border-color: #d1d2d3;
  &.success {
    @include alert(
      // Adjust the background of the alert
    $bg: #f8f9f3
      // Give a border to the alert box

    );
  }
  &.alert {
    @include alert(
      // Adjust the background of the alert
    $bg: #faf1ef
      // Give a border to the alert box

    );
  }
  &.info {
    @include alert(
      // Adjust the background of the alert
    $bg: #f1f6f6
      // Give a border to the alert box

    );
  }
  &.warning {
    @include alert(
      // Adjust the background of the alert
    $bg: #fdf9f0
      // Give a border to the alert box

    );
  }
  .close {
    color: $body-font-color;
  }
}