/*height*/

.ha {
  height: auto;
}
.full-height {
  height: 100%;
}

.inherit-height {
  height: inherit;
}

/*width*/

.wa {
  width: auto!important;
}

/*positioning*/
.relative {
  position: relative;
}

.static {
  position: static;
}

/*This is where we define display classes*/
.inline-block {
  display: inline-block;
}

.inline {
  display: inline!important;
}

.block {
  display: block;
}

.block-i {
  display: block!important;
}

.superhide {
  display:none!important;
}

/*This is where we define cursor classes*/
.pointer {
  cursor: pointer;
}

/*rotate*/
@mixin rotate45 {
  transform:rotate(45deg);
  -ms-transform:rotate(45deg); /* IE 9 */
  -webkit-transform:rotate(45deg); /* Opera, Chrome, and Safari */
}

@mixin rotate90 {
  transform:rotate(90deg);
  -ms-transform:rotate(90deg); /* IE 9 */
  -webkit-transform:rotate(90deg); /* Opera, Chrome, and Safari */
}

.rotate45 {
  @include rotate45;
}

.rotate45 {
  @include rotate90;
}

@mixin rotate180 {
  transform:rotate(180deg);
  -ms-transform:rotate(180deg); /* IE 9 */
  -webkit-transform:rotate(180deg); /* Opera, Chrome, and Safari */
}

.rotate180 {
  @include rotate180;
}

/*overflow*/

.oxh {
  overflow-x: hidden;
}

@mixin dots {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dots {
  @include dots;
}

/*radius*/
@mixin radius-all {
  border-radius: $global-radius;
  -webkit-border-radius: $global-radius;
}

@mixin radius-left {
  border-top-left-radius: $global-radius!important;
  -webkit-border-top-left-radius: $global-radius!important;
  border-bottom-left-radius: $global-radius!important;
  -webkit-border-bottom-left-radius: $global-radius!important;
}
@mixin radius-right {
  border-top-right-radius: $global-radius!important;
  -webkit-border-top-right-radius: $global-radius!important;
  border-bottom-right-radius: $global-radius!important;
  -webkit-border-bottom-right-radius: $global-radius!important;
}
@mixin radius-top {
  border-top-left-radius: $global-radius!important;
  -webkit-border-top-left-radius: $global-radius!important;
  border-top-right-radius: $global-radius!important;
  -webkit-border-top-right-radius: $global-radius!important;
}
@mixin radius-bottom {
  border-bottom-left-radius: $global-radius!important;
  -webkit-border-bottom-left-radius: $global-radius!important;
  border-bottom-right-radius: $global-radius!important;
  -webkit-border-bottom-right-radius: $global-radius!important;
}

.radius-all {
  @include radius-all()
}

.radius-left {
  @include radius-left()
}
.radius-right {
  @include radius-right()
}
.radius-top {
  @include radius-top()
}
.radius-bottom {
  @include radius-bottom()
}

/*line-heights*/

.lh {line-height:1rem}
.lh2{line-height:1.5rem}
.lh3{line-height:2rem}
.lh4{line-height:2.5rem}
.lh5{line-height:3rem}

/*box shadows*/
@mixin bsn {
  -webkit-box-shadow: none;
  box-shadow: none;
}

@mixin box-shadow($top, $left, $blur, $color, $inset:"") {
  -webkit-box-shadow:$top $left $blur $color #{$inset};
  -moz-box-shadow:$top $left $blur $color #{$inset};
  box-shadow:$top $left $blur $color #{$inset};
}

/*margins*/
$ma: .25rem;

.man  {margin: 0px!important;}
.maa  {margin: $ma!important;}
.mab  {margin: $ma * 2!important;}
.mac  {margin: $ma * 3!important;}
.mad  {margin: $ma * 4!important;}
.mae  {margin: $ma * 5!important;}
.maf  {margin: $ma * 6!important;}
.mag  {margin: $ma * 7!important;}
.mah  {margin: $ma * 8!important;}
.mai  {margin: $ma * 9!important;}
.maj  {margin: $ma * 10!important;}
.mak  {margin: $ma * 11!important;}
.mal  {margin: $ma * 12!important;}
.matn {margin-top: 0px!important;}
.mabn {margin-bottom: 0px!important;}
.marn {margin-right: 0px!important;}
.maln {margin-left: 0px!important;}
.mata {margin-top: $ma!important;}
.maba {margin-bottom: $ma!important;}
.mara {margin-right: $ma!important;}
.mala {margin-left: $ma!important;}
.matb {margin-top: $ma * 2!important;}
.mabb {margin-bottom: $ma * 2!important;}
.marb {margin-right: $ma * 2!important;}
.malb {margin-left: $ma * 2!important;}
.matc {margin-top: $ma * 3!important;}
.mabc {margin-bottom: $ma * 3!important;}
.marc {margin-right: $ma * 3!important;}
.malc {margin-left: $ma * 3!important;}
.matd {margin-top: $ma * 4!important;}
.mabd {margin-bottom: $ma * 4!important;}
.mard {margin-right: $ma * 4!important;}
.mald {margin-left: $ma * 4!important;}
.mate {margin-top: $ma * 5!important;}
.mabe {margin-bottom: $ma * 5!important;}
.mare {margin-right: $ma * 5!important;}
.male {margin-left: $ma * 5!important;}
.matf {margin-top: $ma * 6!important;}
.mabf {margin-bottom: $ma * 6!important;}
.marf {margin-right: $ma * 6!important;}
.malf {margin-left: $ma * 6!important;}
.matg {margin-top: $ma * 7!important;}
.mabg {margin-bottom: $ma * 7!important;}
.marg {margin-right: $ma * 7!important;}
.malg {margin-left: $ma * 7!important;}
.math {margin-top: $ma * 8!important;}
.mabh {margin-bottom: $ma * 8!important;}
.marh {margin-right: $ma * 8!important;}
.malh {margin-left: $ma * 8!important;}
.mati {margin-top: $ma * 9!important;}
.mabi {margin-bottom: $ma * 9!important;}
.mari {margin-right: $ma * 9!important;}
.mali {margin-left: $ma * 9!important;}
.matj {margin-top: $ma * 10!important;}
.mabj {margin-bottom: $ma * 10!important;}
.marj {margin-right: $ma * 10!important;}
.malj {margin-left: $ma * 10!important;}
.matk {margin-top: $ma * 11!important;}
.mabk {margin-bottom: $ma * 11!important;}
.mark {margin-right: $ma * 11!important;}
.malk {margin-left: $ma * 11!important;}
.matl {margin-top: $ma * 12!important;}
.mabl {margin-bottom: $ma * 12!important;}
.marl {margin-right: $ma * 12!important;}
.mall {margin-left: $ma * 12!important;}

/*padding*/
$pa:  $ma;

.pan  {padding: 0px!important;}
.paa  {padding: $pa!important;}
.pab  {padding: $pa * 2!important;}
.pac  {padding: $pa * 3!important;}
.pad  {padding: $pa * 4!important;}
.pae  {padding: $pa * 5!important;}
.paf  {padding: $pa * 6!important;}
.pag  {padding: $pa * 7!important;}
.pah  {padding: $pa * 8!important;}
.pai  {padding: $pa * 9!important;}
.paj  {padding: $pa * 10!important;}
.pak  {padding: $pa * 11!important;}
.pal  {padding: $pa * 12!important;}
.patn {padding-top: 0px!important;}
.pabn {padding-bottom: 0px!important;}
.parn {padding-right: 0px!important;}
.paln {padding-left: 0px!important;}
.pata {padding-top: $pa!important;}
.paba {padding-bottom: $pa!important;}
.para {padding-right: $pa!important;}
.pala {padding-left: $pa!important;}
.patb {padding-top: $pa * 2!important;}
.pabb {padding-bottom: $pa * 2!important;}
.parb {padding-right: $pa * 2!important;}
.palb {padding-left: $pa * 2!important;}
.patc {padding-top: $pa * 3!important;}
.pabc {padding-bottom: $pa * 3!important;}
.parc {padding-right: $pa * 3!important;}
.palc {padding-left: $pa * 3!important;}
.patd {padding-top: $pa * 4!important;}
.pabd {padding-bottom: $pa * 4!important;}
.pard {padding-right: $pa * 4!important;}
.pald {padding-left: $pa * 4!important;}
.pate {padding-top: $pa * 5!important;}
.pabe {padding-bottom: $pa * 5!important;}
.pare {padding-right: $pa * 5!important;}
.pale {padding-left: $pa * 5!important;}
.patf {padding-top: $pa * 6!important;}
.pabf {padding-bottom: $pa * 6!important;}
.parf {padding-right: $pa * 6!important;}
.palf {padding-left: $pa * 6!important;}
.patg {padding-top: $pa * 7!important;}
.pabg {padding-bottom: $pa * 7!important;}
.parg {padding-right: $pa * 7!important;}
.palg {padding-left: $pa * 7!important;}
.path {padding-top: $pa * 8!important;}
.pabh {padding-bottom: $pa * 8!important;}
.parh {padding-right: $pa * 8!important;}
.palh {padding-left: $pa * 8!important;}
.pati {padding-top: $pa * 9!important;}
.pabi {padding-bottom: $pa * 9!important;}
.pari {padding-right: $pa * 9!important;}
.pali {padding-left: $pa * 9!important;}
.patj {padding-top: $pa * 10!important;}
.pabj {padding-bottom: $pa * 10!important;}
.parj {padding-right: $pa * 10!important;}
.palj {padding-left: $pa * 10!important;}
.patk {padding-top: $pa * 11!important;}
.pabk {padding-bottom: $pa * 11!important;}
.park {padding-right: $pa * 11!important;}
.palk {padding-left: $pa * 11!important;}
.patl {padding-top: $pa * 12!important;}
.pabl {padding-bottom: $pa * 12!important;}
.parl {padding-right: $pa * 12!important;}
.pall {padding-left: $pa * 12!important;}

/*letter spacing*/

@mixin letter-spacing {
  letter-spacing: .1rem;
}

/*borders*/

.border {
  border-width: 1px;
  border-style: solid; }

.no-border {
  border: none !important; }

.border--transparent {
  border-color: transparent; }

.border--2 {
  border-color: #dadee2; }

.border--3 {
  border-color: #f5f6f7; }

.border--6 {
  border-color: #2a4158; }

.border-top {
  border-top-width: 1px;
  border-top-style: solid; }

.border-bottom {
  border-bottom-width: 1px;
  border-bottom-style: solid; }

.border-sides {
  border-left-width: 1px;
  border-right-width: 1px;
  border-left-style: solid;
  border-right-style: solid; }

.border-left {
  border-left-width: 1px;
  border-left-style: solid; }

.border-right {
  border-right-width: 1px;
  border-right-style: solid; }

.border-top-none {
  border-top-width: 0; }

.border-bottom-none {
  border-top-width: 0; }

.border-left-none {
  border-left-width: 0; }

.border-right-none {
  border-left-width: 0; }