@import "theme";


code {
  font-weight: normal;
  color: #333;
  background-color: #f8f8f8;
  border-width: 1px;
  border-style: solid;
  border-color: #dfdfdf;
  padding: 0.11111rem 0.27778rem 0.05556rem;
}

pre {
  margin-bottom: 15px;
  display: block;
  background: $bg-2;
  color: $body-font-color;

  @include radius-all;
  .tag, .tag .title {
    color: #000080;
    font-weight: normal;
  }
  .tag .value, .phpdoc, .tex .formula {
    color: #d14;
  }
  .attribute, .variable, .lisp {
    color: #008080;
  }
  code {
    color: $body-font-color;
    display: block;
    padding: 0.5em;
    background: #FAFAFA;
    @include radius-all;
    .code-container {
      margin: 10px 0px;
      padding: 5px;
      overflow-x: auto;
      line-height: 1.3rem;
      font-weight: normal;
    }
  }
}

.main-section {
  section {
    padding: 1rem 0 3rem 0
  }
}

.row {
  max-width: 100%;
}

.reveal-modal, .reveal-modal-bg {
  z-index: 1024;
}

