<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation</title>
    <link rel="stylesheet" href="../theme.css" />
    <script src="../../../../bower_components/modernizr/modernizr.js"></script>
  </head>
  <body>
  <section>
      <nav class="top-bar" data-topbar="">
          <ul class="title-area">
              <!-- Title Area -->
              <li class="name">
                  <h1>
                      <a href="#">
                          Salesforce 1 Theme
                      </a>
                  </h1>
              </li>
              <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
          </ul>


          <section class="top-bar-section">
              <!-- Right Nav Section -->
              <ul class="right">
                  <li>
                      <a href="components.html">
                          Components
                      </a>
                  </li>
                  <li class="active">
                      <a href="style.html">
                          Style
                      </a>
                  </li>
                  <li>
                      <a href="kitchen.html">
                          Kitchen Sink
                      </a>
                  </li>
              </ul>
          </section>
      </nav>
  </section>
  <header id="styleHeader" class="bg-cp-3 pal">
      <div class="row">
          <div class="small-12 columns text-center">
              <h1>
                  Style
              </h1>
              <p>
                  Colors, icons, and overall brand aesthetic.
              </p>
          </div>
      </div>
  </header>
  <section id="color" class="bg-4 pal">
      <div class="row ptm">
          <div class="small-10 small-offset-1 columns">
              <article>
                  <h4 class="text-color-light text-center">Main Colors</h4>
                  <p class="text-color-faded text-center">The primary colors are neutralized to allow the sparse use of the primary color and content to take center stage.</p>
                  <ul class="small-block-grid-2 medium-block-grid-4">
                      <li>
                          <div class="swatch large">
                              <div class="swatch-color bg-cp-4"></div>
                              <div class="swatch-caption">
                                  <!--[hex]-->
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="swatch large">
                              <div class="swatch-color bg-cp-1"></div>
                              <div class="swatch-caption">
                                  <!--[hex]-->
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="swatch large">
                              <div class="swatch-color bg-cp-3"></div>
                              <div class="swatch-caption">
                                  <!--[hex]-->
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="swatch large">
                              <div class="swatch-color bg-cp-2"></div>
                              <div class="swatch-caption">
                                  <!--[hex]-->
                              </div>
                          </div>
                      </li>
                  </ul>
              </article>
              <article>
                  <h4 class="text-color-light text-center">Notification colors</h4>
                  <p class="text-color-faded text-center">Use for success, error, warning, and info conditions</p>
                  <ul class="small-block-grid-2 medium-block-grid-6 medium-offset-3">
                      <li>
                          <div class="swatch small">
                              <div class="swatch-color bg-cp-5"></div>
                              <div class="swatch-caption">
                                  <!--[hex]-->
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="swatch small">
                              <div class="swatch-color bg-cp-6"></div>
                              <div class="swatch-caption">
                                  <!--[hex]-->
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="swatch small">
                              <div class="swatch-color bg-cp-7"></div>
                              <div class="swatch-caption">
                                  <!--[hex]-->
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="swatch small">
                              <div class="swatch-color bg-cp-8"></div>
                              <div class="swatch-caption">
                                  <!--[hex]-->
                              </div>
                          </div>
                      </li>
                  </ul>
              </article>
              <article>
                  <h4 class="text-color-light text-center">Secondary Colors</h4>
                  <p class="text-color-faded text-center">Use these for things like charting elements or avatar backgrounds.</p>
                  <ul class="small-block-grid-2 medium-block-grid-6">
                      <li>
                          <div class="swatch">
                              <div class="swatch-color bg-cp-9"></div>
                              <div class="swatch-caption">
                                  <!--[hex]-->
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="swatch">
                              <div class="swatch-color bg-cp-10"></div>
                              <div class="swatch-caption">
                                  <!--[hex]-->
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="swatch">
                              <div class="swatch-color bg-cp-11"></div>
                              <div class="swatch-caption">
                                  <!--[hex]-->
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="swatch">
                              <div class="swatch-color bg-cp-12"></div>
                              <div class="swatch-caption">
                                  <!--[hex]-->
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="swatch">
                              <div class="swatch-color bg-cp-13"></div>
                              <div class="swatch-caption">
                                  <!--[hex]-->
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="swatch">
                              <div class="swatch-color bg-cp-14"></div>
                              <div class="swatch-caption">
                                  <!--[hex]-->
                              </div>
                          </div>
                      </li>
                  </ul>
              </article>
              <article>
                  <h4 class="text-color-light text-center">Tertiary Colors</h4>
                  <p class="text-color-faded text-center">When you need more than the primary and secondary colors use these.</p>

                  <ul class="small-block-grid-2 medium-block-grid-12">
                      <li>
                          <div class="swatch small">
                              <div class="swatch-color bg-cp-15"></div>
                              <div class="swatch-caption">
                                  <!--[hex]-->
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="swatch small">
                              <div class="swatch-color bg-cp-16"></div>
                              <div class="swatch-caption">
                                  <!--[hex]-->
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="swatch small">
                              <div class="swatch-color bg-cp-17"></div>
                              <div class="swatch-caption">
                                  <!--[hex]-->
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="swatch small">
                              <div class="swatch-color bg-cp-18"></div>
                              <div class="swatch-caption">
                                  <!--[hex]-->
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="swatch small">
                              <div class="swatch-color bg-cp-19"></div>
                              <div class="swatch-caption">
                                  <!--[hex]-->
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="swatch small">
                              <div class="swatch-color bg-cp-20"></div>
                              <div class="swatch-caption">
                                  <!--[hex]-->
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="swatch small">
                              <div class="swatch-color bg-cp-21"></div>
                              <div class="swatch-caption">
                                  <!--[hex]-->
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="swatch small">
                              <div class="swatch-color bg-cp-22"></div>
                              <div class="swatch-caption">
                                  <!--[hex]-->
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="swatch small">
                              <div class="swatch-color bg-cp-23"></div>
                              <div class="swatch-caption">
                                  <!--[hex]-->
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="swatch small">
                              <div class="swatch-color bg-cp-24"></div>
                              <div class="swatch-caption">
                                  <!--[hex]-->
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="swatch small">
                              <div class="swatch-color bg-cp-25"></div>
                              <div class="swatch-caption">
                                  <!--[hex]-->
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="swatch small">
                              <div class="swatch-color bg-cp-26"></div>
                              <div class="swatch-caption">
                                  <!--[hex]-->
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="swatch small">
                              <div class="swatch-color bg-cp-27"></div>
                              <div class="swatch-caption">
                                  <!--[hex]-->
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="swatch small">
                              <div class="swatch-color bg-cp-28"></div>
                              <div class="swatch-caption">
                                  <!--[hex]-->
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="swatch small">
                              <div class="swatch-color bg-cp-29"></div>
                              <div class="swatch-caption">
                                  <!--[hex]-->
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="swatch small">
                              <div class="swatch-color bg-cp-30"></div>
                              <div class="swatch-caption">
                                  <!--[hex]-->
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="swatch small">
                              <div class="swatch-color bg-cp-31"></div>
                              <div class="swatch-caption">
                                  <!--[hex]-->
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="swatch small">
                              <div class="swatch-color bg-cp-32"></div>
                              <div class="swatch-caption">
                                  <!--[hex]-->
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="swatch small">
                              <div class="swatch-color bg-cp-33"></div>
                              <div class="swatch-caption">
                                  <!--[hex]-->
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="swatch small">
                              <div class="swatch-color bg-cp-34"></div>
                              <div class="swatch-caption">
                                  <!--[hex]-->
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="swatch small">
                              <div class="swatch-color bg-cp-35"></div>
                              <div class="swatch-caption">
                                  <!--[hex]-->
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="swatch small">
                              <div class="swatch-color bg-cp-36"></div>
                              <div class="swatch-caption">
                                  <!--[hex]-->
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="swatch small">
                              <div class="swatch-color bg-cp-37"></div>
                              <div class="swatch-caption">
                                  <!--[hex]-->
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="swatch small">
                              <div class="swatch-color bg-cp-38"></div>
                              <div class="swatch-caption">
                                  <!--[hex]-->
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="swatch small">
                              <div class="swatch-color bg-cp-39"></div>
                              <div class="swatch-caption">
                                  <!--[hex]-->
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="swatch small">
                              <div class="swatch-color bg-cp-40"></div>
                              <div class="swatch-caption">
                                  <!--[hex]-->
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="swatch small">
                              <div class="swatch-color bg-cp-41"></div>
                              <div class="swatch-caption">
                                  <!--[hex]-->
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="swatch small">
                              <div class="swatch-color bg-cp-42"></div>
                              <div class="swatch-caption">
                                  <!--[hex]-->
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="swatch small">
                              <div class="swatch-color bg-cp-43"></div>
                              <div class="swatch-caption">
                                  <!--[hex]-->
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="swatch small">
                              <div class="swatch-color bg-cp-44"></div>
                              <div class="swatch-caption">
                                  <!--[hex]-->
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="swatch small">
                              <div class="swatch-color bg-cp-45"></div>
                              <div class="swatch-caption">
                                  <!--[hex]-->
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="swatch small">
                              <div class="swatch-color bg-cp-46"></div>
                              <div class="swatch-caption">
                                  <!--[hex]-->
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="swatch small">
                              <div class="swatch-color bg-cp-47"></div>
                              <div class="swatch-caption">
                                  <!--[hex]-->
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="swatch small">
                              <div class="swatch-color bg-cp-48"></div>
                              <div class="swatch-caption">
                                  <!--[hex]-->
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="swatch small">
                              <div class="swatch-color bg-cp-49"></div>
                              <div class="swatch-caption">
                                  <!--[hex]-->
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="swatch small">
                              <div class="swatch-color bg-cp-50"></div>
                              <div class="swatch-caption">
                                  <!--[hex]-->
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="swatch small">
                              <div class="swatch-color bg-cp-51"></div>
                              <div class="swatch-caption">
                                  <!--[hex]-->
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="swatch small">
                              <div class="swatch-color bg-cp-52"></div>
                              <div class="swatch-caption">
                                  <!--[hex]-->
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="swatch small">
                              <div class="swatch-color bg-cp-53"></div>
                              <div class="swatch-caption">
                                  <!--[hex]-->
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="swatch small">
                              <div class="swatch-color bg-cp-54"></div>
                              <div class="swatch-caption">
                                  <!--[hex]-->
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="swatch small">
                              <div class="swatch-color bg-cp-55"></div>
                              <div class="swatch-caption">
                                  <!--[hex]-->
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="swatch small">
                              <div class="swatch-color bg-cp-56"></div>
                              <div class="swatch-caption">
                                  <!--[hex]-->
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="swatch small">
                              <div class="swatch-color bg-cp-57"></div>
                              <div class="swatch-caption">
                                  <!--[hex]-->
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="swatch small">
                              <div class="swatch-color bg-cp-58"></div>
                              <div class="swatch-caption">
                                  <!--[hex]-->
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="swatch small">
                              <div class="swatch-color bg-cp-59"></div>
                              <div class="swatch-caption">
                                  <!--[hex]-->
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="swatch small">
                              <div class="swatch-color bg-cp-60"></div>
                              <div class="swatch-caption">
                                  <!--[hex]-->
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="swatch small">
                              <div class="swatch-color bg-cp-61"></div>
                              <div class="swatch-caption">
                                  <!--[hex]-->
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="swatch small">
                              <div class="swatch-color bg-cp-62"></div>
                              <div class="swatch-caption">
                                  <!--[hex]-->
                              </div>
                          </div>
                      </li>
                  </ul>
              </article>
              <article>
                  <h4 class="text-color-light text-center">Charting Colors</h4>
                  <p class="text-color-faded text-center">When you need more than the primary and secondary colors use these.</p>

                  <ul class="small-block-grid-4 medium-block-grid-10">
                      <li>
                          <div class="swatch small">
                              <div class="swatch-color bg-chart-color-1"></div>
                              <div class="swatch-caption">
                                  <!--[hex]-->
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="swatch small">
                              <div class="swatch-color bg-chart-color-2"></div>
                              <div class="swatch-caption">
                                  <!--[hex]-->
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="swatch small">
                              <div class="swatch-color bg-chart-color-3"></div>
                              <div class="swatch-caption">
                                  <!--[hex]-->
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="swatch small">
                              <div class="swatch-color bg-chart-color-4"></div>
                              <div class="swatch-caption">
                                  <!--[hex]-->
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="swatch small">
                              <div class="swatch-color bg-chart-color-5"></div>
                              <div class="swatch-caption">
                                  <!--[hex]-->
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="swatch small">
                              <div class="swatch-color bg-chart-color-6"></div>
                              <div class="swatch-caption">
                                  <!--[hex]-->
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="swatch small">
                              <div class="swatch-color bg-chart-color-7"></div>
                              <div class="swatch-caption">
                                  <!--[hex]-->
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="swatch small">
                              <div class="swatch-color bg-chart-color-8"></div>
                              <div class="swatch-caption">
                                  <!--[hex]-->
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="swatch small">
                              <div class="swatch-color bg-chart-color-9"></div>
                              <div class="swatch-caption">
                                  <!--[hex]-->
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="swatch small">
                              <div class="swatch-color bg-chart-color-10"></div>
                              <div class="swatch-caption">
                                  <!--[hex]-->
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="swatch small">
                              <div class="swatch-color bg-chart-color-11"></div>
                              <div class="swatch-caption">
                                  <!--[hex]-->
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="swatch small">
                              <div class="swatch-color bg-chart-color-12"></div>
                              <div class="swatch-caption">
                                  <!--[hex]-->
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="swatch small">
                              <div class="swatch-color bg-chart-color-13"></div>
                              <div class="swatch-caption">
                                  <!--[hex]-->
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="swatch small">
                              <div class="swatch-color bg-chart-color-14"></div>
                              <div class="swatch-caption">
                                  <!--[hex]-->
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="swatch small">
                              <div class="swatch-color bg-chart-color-15"></div>
                              <div class="swatch-caption">
                                  <!--[hex]-->
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="swatch small">
                              <div class="swatch-color bg-chart-color-16"></div>
                              <div class="swatch-caption">
                                  <!--[hex]-->
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="swatch small">
                              <div class="swatch-color bg-chart-color-17"></div>
                              <div class="swatch-caption">
                                  <!--[hex]-->
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="swatch small">
                              <div class="swatch-color bg-chart-color-18"></div>
                              <div class="swatch-caption">
                                  <!--[hex]-->
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="swatch small">
                              <div class="swatch-color bg-chart-color-19"></div>
                              <div class="swatch-caption">
                                  <!--[hex]-->
                              </div>
                          </div>
                      </li>
                      <li>
                          <div class="swatch small">
                              <div class="swatch-color bg-chart-color-20"></div>
                              <div class="swatch-caption">
                                  <!--[hex]-->
                              </div>
                          </div>
                      </li>
                  </ul>
              </article>
          </div>
      </div>
  </section>


  <script src="../../../../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../../../../bower_components/foundation/js/foundation.min.js"></script>
    <script src="../../../../js/app.js"></script>
  <script src="../../../../bower_components/foundation/js/foundation/foundation.joyride.js"></script>
  <script src="../../../../bower_components/foundation/js/foundation/foundation.orbit.js"></script>
  <script type="text/javascript">
      $(document).foundation();
  </script>
  </body>
</html>
