/*Custom components*/
.input-wrap {
  position: relative;
  &.has-icon {
    input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
      padding-right: 2.5rem;
    }
    > [class*="icon-"] {
      position: absolute;
      right: 1rem;
      line-height: 2.5rem;
      opacity: .24;
    }
  }
}