/*Reusable equations & numbers*/
$xs:  (1rem / 4);
$s:   (1rem / 2);
$m:   (1rem);
$l:   (1rem * 2);
$xl:  (1rem * 4);

/*Margins*/

.man    {margin: 0}
.maxs   {margin: $xs}
.mas    {margin: $s}
.mam    {margin: $m}
.mal    {margin: $l}
.maxl   {margin: $xl}

.mtn    {margin-top: 0}
.mtxs   {margin-top: $xs}
.mts    {margin-top: $s}
.mtm    {margin-top: $m}
.mtl    {margin-top: $l}
.mtxl   {margin-top: $xl}

.mrn    {margin-right: 0}
.mrxs   {margin-right: $xs}
.mrs    {margin-right: $s}
.mrm    {margin-right: $m}
.mrl    {margin-right: $l}
.mrxl   {margin-right: $xl}

.mbn    {margin-bottom: 0}
.mbxs   {margin-bottom: $xs}
.mbs    {margin-bottom: $s}
.mbm    {margin-bottom: $m}
.mbl    {margin-bottom: $l}
.mbxl   {margin-bottom: $xl}

.mln    {margin-left: 0}
.mlxs   {margin-left: $xs}
.mls    {margin-left: $s}
.mlm    {margin-left: $m}
.mll    {margin-left: $l}
.mlxl   {margin-left: $xl}

/*Padding*/

.pan    {padding: 0}
.paxs   {padding: $xs}
.pas    {padding: $s}
.pam    {padding: $m}
.pal    {padding: $l}
.paxl   {padding: $xl}

.ptn    {padding-top: 0}
.ptxs   {padding-top: $xs}
.pts    {padding-top: $s}
.ptm    {padding-top: $m}
.ptl    {padding-top: $l}
.ptxl   {padding-top: $xl}

.prn    {padding-right: 0}
.prxs   {padding-right: $xs}
.prs    {padding-right: $s}
.prm    {padding-right: $m}
.prl    {padding-right: $l}
.prxl   {padding-right: $xl}

.pbn    {padding-bottom: 0}
.pbxs   {padding-bottom: $xs}
.pbs    {padding-bottom: $s}
.pbm    {padding-bottom: $m}
.pbl    {padding-bottom: $l}
.pbxl   {padding-bottom: $xl}

.pln    {padding-left: 0}
.plxs   {padding-left: $xs}
.pls    {padding-left: $s}
.plm    {padding-left: $m}
.pll    {padding-left: $l}
.plxl   {padding-left: $xl}


